name: PR

on:
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
    name: Build and test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Prepare environment
      uses: ./.github/actions/wden-rust-env-setup

    - name: cargo check
      run: cargo check --verbose    
    - name: Run tests
      # Release build so that the integration tests can run as release later
      run: cargo test --verbose --release

    - name: Run integration tests
      if: runner.os == 'Linux'
      run: cargo --verbose it-release